<nav>
				<div class="head-btm">
						<div class="container">
								<div class="menu">
										<div id="cssmenu">
										<% if (typeof navigation !== "undefined" && navigation !== null) {
						for(var tnav=0; tnav<navigation.length; tnav++){
							if(navigation[tnav].categories=="top-navigation"){
								if(navigation[tnav].type=="url"){		%>
									 <li><a href="<%= navigation[tnav].content %>" title="<%= navigation[tnav].label %>"><%= navigation[tnav].label %></a></li>
							<%	}else if(navigation[tnav].type=="items"){
									try{
										var bookmarkItems = JSON.parse(navigation[tnav].bookmark_items); 
        							}	catch (error){
       									var bookmarkItems = navigation[tnav].bookmark_items; 
    								} 
									if(bookmarkItems.length>0){	%>
										<li  data-target="#<%= navigation[tnav]._id %>" >
                							<a href="#"> <%= navigation[tnav].label %> </a>
            							</li>
            							<ul  id="<%= navigation[tnav]._id %>">
                							<% bookmarkItems.sort(dynamicSort("item_sort_order"));
								 				for(var count=0; count< bookmarkItems.length; count++){
								 					if(bookmarkItems[count].type=="url"){  %>
								 						<li><a href="<%= bookmarkItems[count].content %>" title="<%= bookmarkItems[count].label %>"><%= bookmarkItems[count].label %></a></li>
								 				<% 	}else if(bookmarkItems[count].type=="html"){  %>
								 						<li><%- bookmarkItems[count].content %></li>
								 				<%	}
								 			}	 %>
            							</ul>
									<%	}
								}
							} 
						}	
					} %>
												
										</div>
								</div>
						</div>
				</div>
		</nav>
		
		
	