<% var pageTileStr= "", metaKeywordsStr= "", metaDescriptionStr="";
if (document_details.Document) {
pageTileStr= document_details.Document;
}
if (document_details.PageTitle && document_details.PageTitle!=="") {
pageTileStr= document_details.PageTitle;
}
if (document_details.MetaTagKeywords) { 
metaKeywordsStr= document_details.MetaTagKeywords;
}
if (document_details.MetaTagDescription) { 
metaDescriptionStr= document_details.MetaTagDescription;
}
%>
<% include include/main-header %>

</head>
<body>
<!-- banner -->
	<% include include/header %>
	
	<div CLASS="row" STYLE="margin:0px;">
		<div CLASS="col-md-2 col-sm-12">
			<% include include/navigation %>	
		</div>
		<div class="col-md-10 col-sm-12 content" >
			<% if (document_details.Title && document_details.Title!=="") {	%>
				<h3><%= document_details.Title %></h3>
			<% } %>
			<% if(typeof document_details.uploaded_file_uuid !== "undefined" && document_details.uploaded_file_uuid !== null && document_details.uploaded_file_uuid != ""){ %>
				<p><img src="/file/<%= document_details.uploaded_file_uuid %>" class="img-responsive" alt=""/></p>
			<% } else if (typeof document_details.image_path !== "undefined" && document_details.image_path !== null && document_details.image_path != "") { %>
              	<p><img src="<%= document_details.image_path %>" class="img-responsive" alt=""/></p>
			<% } %>
	  		<%- document_details.Body %>
	  		<% if(document_details.Objects){
	  			 for(var i=0; i<document_details.Objects.length; i++){
	  				if(document_details.Objects[i].status==1 || document_details.Objects[i].status=="1"){	%>
	  					<h2><%- document_details.Objects[i].name %></h2>
	  					<%- document_details.Objects[i].content %>
	  		<%		}
	  		     }	  					
	  		   } %>
		</div>
	</div>
	
	

<% include include/footer %>